* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.app-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow: hidden; }

.navigation {
  width: 100%;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-color: #eaeaea; }
  .navigation__logo {
    height: 100px;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px; }
    @media (max-width: 630px) {
      .navigation__logo--mobile-active {
        margin: 10px 0px;
        padding: 0; } }
  .navigation__navigation-list {
    display: flex;
    list-style: none;
    padding-right: 100px; }
    @media (max-width: 630px) {
      .navigation__navigation-list--mobile-active {
        background-color: #19a0df;
        width: 100%;
        justify-content: center;
        padding: 0; } }
  .navigation__option {
    padding: 0px 15px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #007fd3;
    cursor: pointer; }
    @media (max-width: 630px) {
      .navigation__option--mobile-active {
        color: white;
        padding: 5px 15px; } }

.main {
  width: 100%;
  display: flex;
  flex-direction: column; }

.banner {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.705)), url("/image/bcg-banner-desktop.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
  align-items: center; }
  .banner__main-header {
    font-family: "Roboto", sans-serif;
    text-align: center;
    display: block;
    font-size: 60px;
    line-height: 1.2;
    color: white;
    letter-spacing: 10px;
    margin-bottom: 30px; }
    @media (max-width: 600px) {
      .banner__main-header--mobile-active {
        font-size: 40px; } }
  .banner__medium-header {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 25px;
    letter-spacing: 5px;
    color: white; }
    @media (max-width: 600px) {
      .banner__medium-header--mobile-active {
        font-size: 18px; } }
  .banner__about {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    color: #27bdb0;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.64);
    margin-bottom: 60px; }
    @media (max-width: 600px) {
      .banner__about--mobile-active {
        font-size: 18px; } }
  .banner__button-link {
    display: block;
    text-align: center; }
  .banner__inner-link {
    padding: 10px 40px;
    background-color: #00a2ff;
    border: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 300;
    cursor: pointer; }

.about-me {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 40px; }
  .about-me__main-header {
    font-family: "Merriweather", serif;
    text-align: center;
    margin: 40px 0px;
    font-size: 50px;
    color: #026caa; }

.description-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center; }
  @media (max-width: 1000px) {
    .description-container--mobile-active {
      flex-direction: column;
      justify-content: center; } }
  .description-container__image {
    width: 500px;
    height: 350px; }
    @media (max-width: 1000px) {
      .description-container__image--mobile-active {
        min-width: 75%; } }
  .description-container__description {
    width: 20%;
    font-family: "Merriweather", serif;
    text-align: justify;
    font-weight: 300; }
    @media (max-width: 1000px) {
      .description-container__description--mobile-active {
        width: 75%;
        padding-top: 30px; } }

.offer {
  width: 100%;
  background-color: #01314b;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.card {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
  margin: 20px 10px; }
  .card__icone {
    display: block;
    font-size: 40px;
    padding: 10px 0xp;
    color: #eea7b2; }
  .card__header {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 10px 0px;
    color: rgba(224, 220, 220, 0.93); }
  .card__description {
    text-align: center;
    font-size: 15px;
    padding: 10px 0px;
    font-family: "Roboto", sans-serif;
    color: white; }

.newsletter {
  width: 100%;
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.705)), url("../image/bgc-contact.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-wrap: wrap; }
  @media (max-width: 770px) {
    .newsletter--mobile-active {
      flex-direction: column;
      justify-content: center; } }

.newsletter-description-container {
  width: 50%;
  padding: 60px 0px;
  font-family: "Merriweather", serif;
  font-weight: 200;
  color: #1196e2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .newsletter-description-container__header {
    font-size: 50px; }
  @media (max-width: 770px) {
    .newsletter-description-container--mobile-active {
      width: 100%;
      justify-content: center; } }

.form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (max-width: 770px) {
    .form-container--mobile-active {
      width: 100%;
      align-content: center;
      align-items: center; } }
  .form-container__input {
    width: 50%;
    height: 30px;
    padding-left: 10px;
    font-family: "Roboto", sans-serif; }
  .form-container__button {
    padding: 10px 40px;
    margin-top: 10px;
    width: 130px;
    background-color: #00a2ff;
    border: none;
    color: white;
    font-family: "Roboto", sans-serif;
    cursor: pointer; }

.socialmedia {
  background-color: #dba6a6;
  display: flex;
  width: 100%;
  justify-content: center; }
  .socialmedia__link {
    display: block;
    font-size: 30px;
    padding: 10px 30px;
    color: white; }

@media (max-width: 630px) {
  .navigation--mobile-active {
    flex-direction: column;
    align-items: center; } }
